<%= stylesheet_link_tag params[:controller] %>

<div class="row">
	<div class="medium-9 medium-centered columns">
		<h2 class="text-center">Responsive design gets a whole lot faster</h2>
		<h4 class="page-intro">A <a href="learn/about.html">Framework</a> for any device, medium, and accessibility. Foundation is a family of responsive front-end frameworks that make it easy to design beautiful responsive websites, apps and emails that look amazing on any device. Foundation is semantic, readable, flexible, and completely customizable. We’re constantly adding new resources and <a href="develop/building-blocks.html">code snippets</a>, including these handy <a href="templates.html">HTML templates</a> to help get you started!</h4>
	</div>
</div>

<div class="row column"><hr class="dotted"></div>

<div class="row">
			
      <div class="medium-4 columns">
        <div class="profile-card">
          <img src="http://zurb.com/ink/images/inky-computer.svg" alt="Inky">
          <div class="profile-info">
            <h4 class="subheader">Inky</h4>
            <p>Inky or inking can substitute for any word having to do with cool or awesome.</p>
            <p><strong>Used in a scentence -</strong> Yo man, Foundation for Emails is so inky. Coding emails doesn't suck anymore!</p>
            <p><a href="http://foundation.zurb.com/forum">Forum</a> | <a href="http://zurb.com/ink/">Website</a></p>

          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <div class="profile-card">
          <img src="http://zurb.com/ink/images/inky-computer.svg" alt="Yeti">
          <div class="profile-info">
            <h4 class="subheader">O.G. Yeti</h4>
            <p>O.G. stands for original gangsta.</p>
            <p><strong>Used in a scentence - </strong>those tru gangstas from way back in the day that jacked ya and left nothing but you boxers and socks. Also, Biggie and Tupac were both O.G.'s</p>
            <p><a href="http://foundation.zurb.com/forum">Forum</a> | <a href="http://foundation.zurb.com/">Website</a></p>

          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <div class="profile-card">
          <img src="http://zurb.com/ink/images/inky-computer.svg" alt="Swoll Yeti">
          <div class="profile-info">
            <h4 class="subheader">Swoll Yeti</h4>
            <p>Slang for "Swollen", as in getting "swollen" or "buff" at the gym.</p>
            <p><strong>Used in a scentence -</strong> Yo, after a couple months at the Y, I'll be a swoll Yeti.</p>
            <p><a href="http://zurb.com/patterntap">Patterns</a> | <a href="http://foundation.zurb.com/apps/">Website</a></p>
          </div>
        </div>
      </div>
    </div>

</div>
