
//colors
$color-light-blue: #e9f0f5;
$color-white: #FFF;
$color-gray: #e5e5e5;
$header-bg: #303e49;

//fonts
$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;
$tertiary-font: 'Baloo Tamma', cursive;

$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.75rem;
$subnav-link-opacity: 0.15;
$header-height: 2.5rem;
$transition: all .35s ease-in-out;