body {
  background-color: $color-light-blue;
}

/* logo */
.logo {
  color: $color-white;
  font-family: $tertiary-font;
  &:hover {
    color: $color-gray;
  }
}

/* title */
.title {
  color: $color-dark-grey;
  margin-top: 1em
}

/* text */
.text {
  font-size: 25px;
  font-weight: 800;
  &-muted{
    color: $color-gray;
  }
}

/* dotted */
.dotted {
  border-style: dashed;
}
