// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
	color: white;
	font-family: 'Baloo Tamma', cursive;
}
.title:hover {
	color: #e5e5e5;
}
.text-muted {
	font-size: 25px;
	font-weight: 800;
	color: #e5e5e5;
}